<h5>Wait until next version!</h5>

<p>
  Here you are going to see all Tradeable Wallets that are available to sell.
  We have at least two ways to implement that:
</p>
<p>
  (a) By Events - the contract address is not indexed in the event since it can assume too many values.
  It can be created a REST service to listen to the AvaliableToSellEvent and NewOwnerEvent events, storing the info and list the contracts that satisfy this conditon: it has an AvaliableToSellEvent an does not have after this event an NewOwnerEvent. 
</p>
<p>
  (b) By analyzing all Tradeable Contracts that exists in ContractCreator and verifying if each one is available to sell.
</p>
<p>
  In the future we can include the concept of reputation of each wallet owner. Good traders will become visible to anyone. It will help the decision of buying a wallet.
</p>