<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <h1>
    Welcome to {{ title }}!
  </h1>

    <h3>Here are your tools to deal with this fantastic wallet: </h3>

  <a class="btn btn-lg btn-success" href="new-wallet">
    <i class="fa fa-magic fa-5x pull-left"></i> Create new wallet
  </a>
  <a class="btn btn-lg btn-success" href="manage-wallet">
    <i class="fa fa-pencil-square-o fa-5x pull-left"></i> Manage your wallet
  </a>
  <a class="btn btn-lg btn-success" href="buy-wallet">
    <i class="fa fa-rocket fa-5x pull-left"></i> Buy your wallet
  </a>

  <div style="margin-top:10px"></div>
  
  <div class = "container">
    <router-outlet></router-outlet>
  </div>
</div>