  <div class="row">
    <label>Selected Ethereum Account:
      <input type="text" [ngModel]="selectedAccount" readonly disabled size="50">
    </label>
  </div>


  <div class="row">
    <label>Create a new tradeable wallet by clicking here <a href="javascript:void(0)" (click)="createWallet()">
      <i class="fa fa-bullseye" aria-hidden="true"></i></a></label>
  </div>

  <div class="row" *ngIf="newTradeableWalletAddress">
  <div class="card bg-light">
    <label>Congratulations! You now have a new Tradeable-Wallet. Take note of this address: {{newTradeableWalletAddress}}</label>
  </div>
</div>

    <div class="row" *ngIf="error">
      <div class="card text-white bg-danger">
        <div class="card-body">
            <h5 class="card-title">Ops... Error</h5>
            <p class="card-text">Be sure that your account has enough Ether to pay the gas cost.</p>
            <p class="card-text">Details: {{error}}</p>
          </div>
      </div>
    </div>     

