  <div class="row">
    <label>Selected Ethereum Account:
      <input type="text" [ngModel]="selectedAccount" readonly disabled size="50">
    </label>
  </div>


  <div class="row">
    <label>Create a new tradeable wallet by clicking here <a href="javascript:void(0)" (click)="createWallet()">
      <i class="fa fa-bullseye" aria-hidden="true"></i></a></label>
  </div>

  <div class="row" *ngIf="newTradeableWalletAddress">
    <label>New tradeable wallet address:
            <input type="text" [ngModel]="newTradeableWalletAddress" readonly disabled size="50">
      </label>
  </div>
